.header {
    background-color: orangered;
    color: white;
    text-align: center;
}
.navZone {
    background-color: blue;
    color: white;
    text-align: center;
    height: 300px;
}
.content {
    background-color: green;
    color: white;
    text-align: center;
    height: 300px; 
}
.footer {
    background-color: red;
    color: white;
    text-align: center;
}